.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 2px solid black;
  max-width: 240px;
  padding-top: 20px;
  background-color: cornsilk;
}

.card-list-container {
  height: 70vh;
  overflow: scroll;
}

.card-add-btn {
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  backface-visibility: none;
  background-color: pink;
  cursor: pointer;
}

.card-add-btn:hover {
  transform: scale(1.1);
}

.card-list-name {
  padding: 4px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
